.logo {
    font-family: Lobster;
    color: @green;
}

.inverse-logo {
    color: @white;
}

.large-logo {
    .logo;
    font-size: floor(@font-size-base * 5); 
}

.large-inverse-logo {
    .large-logo;
    .inverse-logo;
}